# terminal stuff

alias z="source ~/.zshrc"
alias zz="clear; z"
alias zzz="cd ~; zz"

# python
alias ipython=ipython3
alias ipy=ipython

alias deactivate='pyenv deactivate'
alias activate='pyenv activate'

# pip stuff
# pip freeze without dependencies 
alias freeze="pip list --not-required --format=freeze | grep -v pip | grep -v setuptools"
alias upip="pip install --upgrade pip"


# run private aliases
FILE=~/.dotfiles/.private.aliases
if [ -f "$FILE" ]; then 
    source $FILE
fi 
