# terminal stuff

alias z="source ~/.zshrc"
alias zz="clear; z"
alias zzz="cd ~; zz"

# python
alias ipython=ipython3
alias ipy=ipython

alias deactivate='pyenv deactivate'
alias activate='pyenv activate'

# pip stuff
# pip freeze without dependencies 
alias freeze="pip list --not-required --format=freeze | grep -v pip | grep -v setuptools"
alias upip="pip install --upgrade pip"

# nvidia-smi watch
if [ -x "$(command -v nvidia-smi)" ]; then
  alias smi="watch -n 1 nvidia-smi"
fi

# run private aliases
FILE=~/.files/aliases/.private.aliases
if [ -f "$FILE" ]; then 
    source $FILE
fi 
